<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

<!--包含惯性计算的xacro文件-->
<xacro:include filename="$(find robo_sim)/urdf/common_inertial.xacro"/>

<!--机器人的身体部分-->
<!-- This is a simple URDF file for a robot with a single link called "base_link". -->  
<xacro:macro name = "base_xacro" params = "length radius mass">
<link name = "base_footprint"/>

<link name="base_link">
  <visual>  <!--外观-->
    <!--沿着自己几何中心的偏移和旋转量-->
    <origin xyz="0 0 0" rpy="0 0 0"/> 
    <!--定义几何形状-->
    <geometry>
      <cylinder radius="${radius}" length="${length}"/>  <!--圆柱体-->
    </geometry>
    <!--定义材质-->
    <material name="blue">
      <color rgba="0 0 1 0.5"/>  <!--蓝色(rgb)，半透明(0.5)-->
    </material>
  </visual>
  <collision>  <!--碰撞模型-->
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <cylinder radius="${radius}" length="${length}"/>
    </geometry>
  </collision>
  <!--inertial-->  <!--惯性属性-->  <!--质量--> <!--惯性矩阵-->
    <!-- <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="1.0"/> 
    <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>   -->
  <!--/inertial-->

  <!--使用xacro文件中的惯性计算宏，传入质量、半径和长度参数-->
   <xacro:cylinder_inertia m="${mass}" r="${radius}" h="${length}"/>
</link>

<!--连接两个链接的关节-->
<joint name="base_joint" type="fixed">
  <parent link="base_footprint"/>  
  <child link="base_link"/>  
  <origin xyz="0 0 ${length/2+0.032-0.001}" rpy="0 0 0"/>  
</joint>
<gazebo reference = "base_link">
    <material>
      Gazebo/PurpleGlow  
    </material>
</gazebo>
</xacro:macro>

</robot>